/* General */
.App {
  text-align: center;
}

.App-header {
  background-color: #1d1d22;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.soft-gray {
  color: #575757;
}

.file-link {
  color: white;
  text-decoration: none;
}

.site-description {
  margin: 10px;
  font-size: 16px;
}

.instructions {
  font-size: 16px;
}

.appbar-link {
  width: 90px;
  color: #1d1d22;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attachment-icon {
  font-size: 25px;
}

/* Titles */
.page-title {
  padding: 20px;
}

.tasks-page-title {
  margin-top: 10px;
}

.site-title {
  margin-top: 20px;
  font-size: 30px;
}

/* Alerts */
.alert-modal {
  width: 100%;
}

.alert-icon {
  font-size: 30px;
}
